body{
   
    margin: 20px;
    
}
#facebook{
    height: 25px;
}
#whatsapp{
    height: 25px;
}
#email{

    height: 25px;
    
}
#linkedin{
    height: 25px;
}
#github{
    height: 25px;
}

#insta{
    height: 25px;
}
#imagem_redonda{

    height: 150px;
    border-radius: 200px;


}